@media screen and (max-width: 1024px) { 
    #logo {
        margin: 0rem 1rem; 
        }
    #menu { 
            width: 55%;
        }   
    .informacoes-principal h1 {  
        font-size: 1.5rem; 
     }

     .informacoes-principal > h2 {
        font-size: 3rem;
        }
    .cards-inf { 
        grid-template-columns: 2fr 2fr 2fr  ;
        
    }
    .cards { 
        width: 300px;
    }
    .about { 
        margin: 10rem 3rem;
    }
    .about-powerpeak { 
        padding: 1rem 2rem;
        margin: 0rem 0rem;
    }
    .beneficios li { 
        padding: 0.6rem 0rem;
      }
    .customers h1 { 
        font-size: 2rem;
        margin: 2rem 0rem;
    }
    .card-cliente { 
        width: 300px;
    }
    .card-cliente img { 
        width: 70px;
        height: 80px;
        border: 3px solid ;
    }
    .card-cliente .bottom p { 
        font-size: .8em;
        color: rgb(179, 179, 179);
    }
    .footer .direitos {
        width: 70%; 
    }


}
/* MEDIA QUERY 1024PX */

@media screen and (max-width: 900px) { 
    .cards-inf { 
                grid-template-columns: 2fr 2fr   ;
        
    }
    .cards { 
            width: 350px;
    }
    #menu { 
            width: 65%;
    }
    .bases { 
            margin: 13rem 0rem;
            padding: 0rem 0rem;

        }
    .bases-esquerdo h3 { 
                    font-size: 1.8rem;
                    font-weight: bold;
        }
        .bases-esquerdo p { 
                        font-size: 1rem;
    }   
    .bases-direito h1 { 
                    font-size: 3rem;
    }
    .bases-direito p { 
                font-size: 1rem;
    }
    .cards-clientes { 
        width: 100%;
        padding: 10rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 130px;

    }
    .card-cliente { 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        
    }
    .card-cliente .top { 
            display: flex;
    }
    .card-cliente .coments { 
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            margin: 1rem 1rem;
    }
    .card-cliente img { 
            width: 200px;
            height: 200px;      
            border-radius: 50%;
            border: 4px solid rgba(255, 255, 255, 0.823);
            margin: .5rem 5rem 0 0rem;
    }
    .card-cliente .top p:first-child { 
            color: white;
            font-size: 2rem;
            font-weight: bold;
    }
    .card-cliente .top p { 
            font-size: 1rem;
            color: rgb(179, 179, 179);
    }
    .card-cliente .bottom { 
            margin: 1rem .5rem;
            width: 70%;
            padding: 0rem .3rem;
            
    }
    .card-cliente .bottom p { 
            font-size: 1.5rem;
            color: rgb(179, 179, 179);
    }

}
/* MEDIA QUERY 900PX */

@media screen and (max-width: 768px) { 
    .flex { 
        flex-direction: column;
    }
    .principal { 
        margin: 0;
    }
    .informacoes-principal { 
        width: 100%;
    }
    .informacoes-principal h1 { 
        font-size: 2.5rem;
    }
    .informacoes-principal > h2 { 
        font-size: 4rem;
    }
    .inf-adicionais { 
        width: 80%;
        margin: auto;
    }
    .inf-adicionais button { 
        width: 300px;
        gap: 10px;
        padding: 1.5rem 2rem;
        background-color: #bf3d2a;
        border: none;
    }
    .bg-principal { 
        width: 100%;
    }
    .bg-principal img { 
        max-width: 100%;
    }
    #menu { 
        width: 95%;
    }  
    .cards-inf { 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;          
    }
    .cards { 
        width: 380px;
    }
    .inf-card p { 
        font-size: 1.2rem;
    }
    .cards .price { 
        font-size: 1.3rem;
        font-weight: bold;
    }
    .about { 
        display: flex;
        flex-direction: column;
        margin: 10rem 0rem;
    }
    .about-powerpeak { 
        width: 100%;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;       
    }
    .about-powerpeak h2 { 
        text-align: center;
    }
    .about-conteudo { 
        width: 100%;
        padding: 1rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .about-conteudo p { 
        color: #4e4e4e;
        margin: .9rem 3rem;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0rem 1rem;
    }
    .bases { 
        background-color: rgb(0, 95, 179);
        margin: 30rem 0rem;

    }
    .bases-esquerdo h3 { 
                font-size: 1.5rem;
                font-weight: bold;
    }
    .bases-esquerdo p { 
                    font-size: 1rem;    
    }
    .bases-direito { 
        background-color: #151515f1;
        width: 50%;
        padding: 10rem 3rem;
}   
    .bases-direito h1 { 
                    font-size: 3rem;
    }
    .bases-direito p { 
                font-size: 1rem;
    }
    .bases-direito button { 
        padding: 1rem 2rem;
        width: 250px;
        margin: 2rem 0rem;
        font-size:1.5rem;

    }
    .footer h1 { 
        font-size: 1.5rem;
    }
    .footer .direitos {
        width: 90%; 
    }



}

@media screen and (max-width: 600px) {
   
   
    .about-powerpeak h2 { 
                text-align: center;
    }
    .bases { 
                margin: 40rem 0rem 10rem 0;
    }
    .bases-bg { 
                flex-direction: column;
    }
    .bases-esquerdo { 
                width: 100%;
                padding: 3rem 6rem;
    }
    .bases-esquerdo h3 { 
                font-size: 2.2rem;
    }
    .bases-esquerdo p { 
        font-size: 1.1rem;
    }
    .bases-direito { 
                width: 100%;
    }
    .bases-direito h1 { 
        font-size: 2.5rem;
    }
    .bases-direito p { 
                font-size: 1.1rem;
    }
    .bases-direito button { 
                margin: 3rem 0rem;
    }
    .card-cliente img { 
        width: 150px;
        height: 150px;      
        margin: .5rem 3rem 0 0rem;
    }
    .card-cliente .top p:first-child { 
        font-size: 1.7rem;
    }
    .card-cliente .bottom p { 
        font-size: 1rem;
        color: rgb(131, 130, 130);
    }
    .customers h1 {
        padding: 0 2rem;
        text-align: center;
    }

}

/* MEDIA QUERY 600PX */
@media screen and (max-width: 435px) { 
        .informacoes-principal  h1 { 
                                font-size: 1.8rem;
        }
        .informacoes-principal > h2 { 
                                font-size: 3rem;
        }
        .inf-adicionais h2, .inf-adicionais p  { 
                                font-size: 1rem;
        }
        .inf-adicionais { 
                                width: 400px;
                                margin: 0;
        }
        .inf-adicionais button { 
                                width: 300px;
                                gap: 5px;
                                padding: 1rem 2rem;
                                background-color: #bf3d2a;
                                border: none;
        }
        .inf-adicionais button h2 { 
                                font-size: 1.5rem;
        }
        .cards-inf { 
                                width: 100%;
                                margin: 0rem 0rem;
        }
        .cards { 
                                width: 350px;
        }
        .box-menu { 
                                width: 350px;
        }
        .box-menu .box-img img { 
                                width: 120px;
        }
        .box-menu .box-inf span { 
                                font-size: 1rem;
        }
        .card-img img { 
                                width: 130px;
        }
        .inf-add i { 
                                font-size: 1.3rem;
                                padding: .7rem;
                                margin: 6rem 1rem; 
        }
        .inf-add { 
                                width: 20%;
        }
        .about-conteudo p { 
                                font-size: 1.1rem;
                                padding: 0rem 0rem;
        }
        .beneficios { 
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 100%;
                                margin: 1rem 0rem;
        }
        .beneficios li { 
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                margin: 1rem 2rem;
        }
        .bases { 
            margin: 60rem 0rem 10rem 0;
        }
        .bases-esquerdo { 
                            width: 100%;
                            padding: 3rem 6rem;
        }
        .bases-esquerdo h3 { 
                            font-size: 1.5rem;
        }
        .bases-esquerdo p { 
                            font-size: 1rem;
        }
        .bases-direito h1 { 
                            font-size: 2rem;
        }
        .bases-direito { 
                            width: 100%;
        }
        .bases-direito p { 
                            font-size: 1rem;
        }
        .bases-direito button { 
                            padding: 1rem 2rem;
                            width: 200px;
                            margin: 2rem 0rem;
                            font-size: 1rem;
        }
        .card-cliente img { 
            width: 100px;
            height: 100px;      
            margin: .5rem 1rem 0 0rem;
        }
        .card-cliente .top p:first-child { 
            font-size: 1.2rem;
        }
        .card-cliente .top p { 
            font-size: .7rem;
            color: rgb(179, 179, 179);
        }

        .card-cliente .bottom p { 
            font-size: .8rem;
            color: rgb(131, 130, 130);
        }
        .customers h1 {
            padding: 0 2rem;
            text-align: center;
            font-size: 2rem;
        }
        .card-cliente .bottom { 
            margin: 0rem;
            width: 70%;
            padding: 0rem 0rem;
            
    }
    .footer h1 { 
        font-size: .9rem;

    }
    .footer .direitos {
        width: 90%; 
        align-items: center;
        
    }
    .footer .direitos p { 
        font-size: .9rem;
    }
    .footer .direitos i {
        font-size: 1rem;
    }
    
        
}