.flex { 
    display: flex;
}

.interface { 
    max-width: 1280px;
    margin: 0 auto;
}
/* 
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
*/ 


/* 
cores: 
preto/cinza: #222222;
marrom/escuro: #3f211c
branco/pouco escuro: #dcd7d6
cinza: #49555a
marrom branco: #bf3d2a
não sei qual cor: #8b8c8d
branco / cinza / claro: #c1c1c0


fontes: 
    font-family: "Kanit", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Madimi One", sans-serif;
    font-family: "IBM Plex Sans", sans-serif;
    font-family: "Changa", sans-serif;
    font-family: "Poppins", sans-serif;

*/

  


/* importações */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "Poppins",monospace;
    box-sizing: border-box;
}

body  { 
    background-color: #E1E1E1
}

#logo { 
    font-size: 1.5rem;
    font-weight: bold;
}
#header { 
    background-color: #bf3d2a;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#menu { 
    display: block;
    position: absolute;
    width: 35%;
    top: 80px;
    right: -100%;
    background: #bf3d2a;
    height: 0px;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    border-radius: 10px;
}
#menu > a { 
    display: flex;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid black;

}
#nav.active #menu { 
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
    right: 10px;
    transition: .6s;

}
button { 
    background-color: transparent;
    font-size: 2rem;
    border: none;
}

#btn-mobile { 
    display: block;
    cursor: pointer;
    margin: 0rem 1rem;
}
#menu > h1 { 
    font-size: 1.5rem;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0rem;
    font-weight: bold;    
}
#menu hr { 
    width: 300px;
    height: 1px;
    margin: auto;
}
.box-menu { 
    width: 450px;
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    background-color: #531a11;
    border-radius: 20px;
    padding: 1rem;
}
.box-menu .box-img { 
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.box-menu .box-img img { 
    width: 150px;
}
.box-menu .box-inf { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin: 0rem 1rem;
    width: 30%;
}
.box-menu .box-inf span { 
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
.box-menu .qtd { 
    display: flex;
    width: 15%;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.3rem;
}
.box-menu .inputNumber { 
    width: 60px;
    height: 20px;
    color: black;
    font-weight: bold;
    text-align: end;
    padding: .3rem;
}
.box-menu .remove { 
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin: 1rem 2rem ;
}
.box-menu .remove i { 
    font-size: 1.5rem;
    cursor: pointer;
}
.box-menu .remove i:hover { 
    color: #bf3d2a;
    transition: .6s;
}
.resultado { 
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.resultado p { 
    font-size: 2rem;
    font-weight: bold;
}
.box-fim { 
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    margin: 1rem 1rem;
    gap: 10px;  
}
.sucess { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-fim .sucess .buttonSucess { 
    background-color: green;
    width: 180px;
    padding: .9rem;
    cursor: pointer;
    text-align: center;
    gap: 10px;   
}
.box-fim .sucess .contactMe { 
    background-color: #531a11;
    width: 180px;
    padding: .7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.box-fim .sucess .contactMe a { 
    font-size: 1.3rem;
    font-weight: bold;
}

.box-fim .sucess button h1 { 
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.sucess .buttonSucess:hover { 
    background-color: greenyellow;
    transition: .8s;
}
.box-fim .sucess .contactMe:hover { 
    background: #ff2200;
    transition: .8s;


 }

/* HEADER A CIMA */
.principal {
    background-image:linear-gradient(to top, #bf3d2a , #222222 10%);
    width: 100%;
}

.informacoes-principal { 
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem auto;
    padding: 0rem 3rem;
}
.informacoes-principal > h2 { 
    font-size: 4rem;
    text-align: center;
    padding: 1rem 0rem
}
.informacoes-principal h1 { 
    font-size: 2rem;
    text-align: center;
    
}
.informacoes-principal span { 
    color:#bf3d2a
}

.bg-principal { 
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf-adicionais { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0rem 1rem;
    gap: 40px;
    width: 400px;
}
.inf-adicionais button { 
    background-color: #bf3d2a;
    padding: 1rem 2rem;
    width: 300px;
    cursor: pointer;
    margin: 2rem 0rem;
}
.inf-adicionais button > a { 
    font-size: 2rem;
    font-weight: bold;
}
.inf-adicionais button:hover { 
    transition: all .5s;
    background-color: #ca2b12;


}
.bg-principal img { 
    max-width: 100%;
}
/* INFORMAÇÕES PRINCIPAIS */

.products {
    width: 100%;
}

.products h1 {
    margin: 5rem 0rem;
    text-align: center;
    font-size: 2.5rem; 
    color: black;
    font-family: "Oswald", sans-serif;

}
.cards-inf { 
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    margin: auto;
    
}
.cards { 
    width: 350px;
    height: 170px;
    background-color: white;
    margin: 1rem;
    display: flex;
}
.cards .card-img { 
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1.5rem;
}

.card-img img { 
    width: 150px;
    margin: 0rem -2rem;
}
.inf-card { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.inf-card i { 
    color: green;
    font-size: 1rem;
}
.inf-card p { 
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
.inf-card span { 
    color: #2222228b;
}
.inf-add { 
    width: 100px;
}
.inf-add i { 
    color: white;
    background-color: #bf3d2a;
    border-radius: 50%;
    font-size: 1rem;
    padding: .6rem;
    margin: 7.5rem 1rem;
    cursor: pointer;
}

.inf-add i:hover { 
    background-color: #531a11;
    transition: all .5s;

}
.cards .precoProduto { 
    font-size: 1.2rem;
    font-weight: bold;
    
}

.about { 
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 400px;
    max-width: 1280px;
    margin: 10rem 12rem;
    
}

.about-powerpeak { 
    width: 50%;
    padding: 1rem 1rem;
    
}
.about-powerpeak p { 
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    margin: .9rem 0rem;
    font-size: 1.5rem;
}
.about-powerpeak .since { 
    font-weight: bold;
    color: #bf3d2a;
    font-size: 1.5rem;
}
.about-powerpeak h2 { 
    color: black;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.about-powerpeak h1 { 
    color: black;
    font-size: 7rem;
}

.about-conteudo { 
    width: 50%;
    padding: 1rem 0rem;
}
.about-conteudo p { 
    color: #4e4e4e;
    margin: .9rem 0rem;
    font-weight: 500;
    font-size: 1rem;
    padding: 0rem 1rem;
}
.beneficios { 
    display: grid;
    grid-template-columns: 2fr 2fr;
    
}
.beneficios li { 
    color: black;
    padding: 1rem 0rem;
    font-size: 1rem;
    font-weight: 500;
    margin: .8rem 0rem;
    display: flex;
    align-items: center;
  }
.beneficios li i { 
    border-radius: 50%;
    color: #bf3d2a;
    background: white;
    margin: 0rem .8rem;
    font-size: 1.3rem;
    font-weight: bold;
    padding: .2rem;
    
}

