
/* 
cores: 
preto/cinza: #222222;
marrom/escuro: #3f211c
branco/pouco escuro: #dcd7d6
cinza: #49555a
marrom branco: #bf3d2a
não sei qual cor: #8b8c8d
branco / cinza / claro: #c1c1c0


fontes: 
    font-family: "Kanit", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Madimi One", sans-serif;  


*/

.flex { 
    display: flex
}

.interface { 
    max-width: 1280px;
    margin: 0 auto;
}



/* importações */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Oswald:wght@200..700&display=swap');



* { 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
}

body  { 
    background-color: #c1c1c0
}

header { 
    padding: 30px 4%;
    background-color: #000000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.404);
}

ul {
  display: flex;
  flex-direction: row;
  margin: auto;  
  gap: 50px;
}

li a { 
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7rem;    
}

li a:hover { 
    color:#bf3d2a
}

.principal {
    background-image:linear-gradient(to top, #bf3d2a , #222222 10%);
    width: 100%;
}

.informacoes-principal { 
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem auto;
    padding: 0rem 3rem;
}
.informacoes-principal h2 { 
    font-size: 4rem;
    text-align: center;
    padding: 1rem 0rem
}
.informacoes-principal h1 { 
    font-size: 2rem;
    text-align: center;
    
}
.informacoes-principal span { 
    color:#bf3d2a
}

.bg-principal { 
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf-adicionais { 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 1rem;
    gap: 40px;
}
.inf-adicionais button { 
    background:transparent;
    border: 1px solid white;
}
.inf-adicionais h2 { 
    color: white;
    font-size: 1.2em;
    padding: 1rem 2rem;
    font-weight: bold;
    box-shadow: 0px 0px 5px #fefefebd;
    cursor: pointer;
}
.inf-adicionais p { 
    padding: 1rem 2rem;
    font-weight: bold;
    box-shadow: 0px 0px 5px #fefefebd;
    cursor: pointer;
    background:transparent;
    border: 1px solid white;
    display: flex;
    gap: 10px;
    color: white;
}
.inf-adicionais p:hover { 
    background-color: #bf3d2a;
    transition: all .5s;
}
.inf-adicionais i { 
    font-size: 1.2rem;
    
}
.inf-adicionais h2:hover { 
    background-color: #bf3d2a;
    transition: all .5s;
}



.bg-principal img { 
    max-width: 100%;
}
/* INFORMAÇÕES PRINCIPAIS */

.products {
    width: 100%;
    height: 500px;
}

.products h1 {
    margin: 2rem 0rem;
    text-align: center;
    font-size: 2.5rem; 
    color: black;
    font-family: "Oswald", sans-serif;

}
.cards-inf { 
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    margin: auto;
    
}
.cards { 
    width: 350px;
    height: 170px;
    background-color: white;
    margin: 1rem;
    display: flex;
}
.card-img { 
    max-width: 40%;
}
.card-img img { 
    width: 180px;
    margin: 0rem -2rem;
}
.inf-card { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.inf-card i { 
    color: green;
    font-size: 1rem;
}
.inf-card p { 
    color: black;
    font-weight: 600;
    font-size: 1rem;
}
.inf-card span { 
    color: #2222228b;
}
.inf-add { 
    width: 100px;
}
.inf-add i { 
    color: white;
    background-color: #bf3d2a;
    border-radius: 50%;
    font-size: 1rem;
    padding: .6rem;
    margin: 7.5rem 1rem;
    cursor: pointer;
}