/* 
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
*/ 


/* 
cores: 
preto/cinza: #222222;
marrom/escuro: #3f211c
branco/pouco escuro: #dcd7d6
cinza: #49555a
marrom branco: #bf3d2a
não sei qual cor: #8b8c8d
branco / cinza / claro: #c1c1c0


fontes: 
    font-family: "Kanit", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Madimi One", sans-serif;  


*/

.flex { 
    display: flex
}

.interface { 
    max-width: 1280px;
    margin: 0 auto;
}



/* importações */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Oswald:wght@200..700&display=swap');



* { 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
}

body  { 
    background-color: #c1c1c0
}
#logo { 
    font-size: 1.5rem;
    font-weight: bold;
}
#header { 
    background-color: #bf3d2a;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#menu { 
    display: block;
    position: absolute;
    width: 35%;
    top: 80px;
    right: 0;
    background: #bf3d2a;
    height: 0px;
    transition: .6s;
    z-index: 1000;
    /*
    visibility: hidden;
    overflow-y: hidden;
    */
}
#menu a { 
    display: flex;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid black;

}
#nav.active #menu { 
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
}
button { 
    background-color: transparent;
    font-size: 2rem;
    border: none;
}

#btn-mobile { 
    display: block;
    cursor: pointer;
    margin: 0rem 1rem;
}
#menu > h1 { 
    font-size: 1.5rem;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0rem;
    font-weight: bold;    
}
#menu hr { 
    width: 300px;
    height: 1px;
    margin: auto;
}
.box-menu { 
    width: 500px;
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    background-color: #531a11;
}
.box-menu .box-img { 
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.box-menu .box-img img { 
    width: 150px;
}
.box-menu .box-inf { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin: 0rem 1rem;
    width: 30%;
}
.box-menu .box-inf span { 
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
.box-menu .qtd { 
    display: flex;
    width: 15%;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.3rem;
}
.box-menu .inputNumber { 
    width: 60px;
    height: 20px;
    color: black;
    font-weight: bold;
    text-align: end;
    padding: .3rem;
}
.box-menu .remove { 
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin: 1rem 2rem ;
}
.box-menu .remove i { 
    font-size: 1.5rem;
    cursor: pointer;
}
.box-menu .remove i:hover { 
    color: #bf3d2a;
    transition: .6s;
}
.resultado { 
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.resultado p { 
    font-size: 2rem;
    font-weight: bold;
}
.box-fim .sucess { 
    width: 180px;
    background-color: green;
    padding: .9rem;
    cursor: pointer;
    text-align: center;
}
.box-fim .sucess button h1 { 
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.sucess:hover { 
    background-color: greenyellow;
    transition: .8s;
}
.sucess h1 { 
    font-size: 1.3rem;
}
.box-fim { 
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    margin: 1rem 1rem;
    gap: 10px;
}

/* HEADER A CIMA */
.principal {
    background-image:linear-gradient(to top, #bf3d2a , #222222 10%);
    width: 100%;
}

.informacoes-principal { 
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem auto;
    padding: 0rem 3rem;
}
.informacoes-principal h2 { 
    font-size: 4rem;
    text-align: center;
    padding: 1rem 0rem
}
.informacoes-principal h1 { 
    font-size: 2rem;
    text-align: center;
    
}
.informacoes-principal span { 
    color:#bf3d2a
}

.bg-principal { 
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf-adicionais { 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 1rem;
    gap: 40px;
}
.inf-adicionais button { 
    background:transparent;
    border: 1px solid white;
}
.inf-adicionais h2 { 
    color: white;
    font-size: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    box-shadow: 0px 0px 5px #fefefebd;
    cursor: pointer;
}
.inf-adicionais p { 
    padding: 1rem 2rem;
    font-weight: bold;
    box-shadow: 0px 0px 5px #fefefebd;
    cursor: pointer;
    background:transparent;
    border: 1px solid white;
    display: flex;
    gap: 10px;
    color: white;
}
.inf-adicionais p:hover { 
    background-color: #bf3d2a;
    transition: all .5s;
}
.inf-adicionais i { 
    font-size: 1.2rem;
    
}
.inf-adicionais h2:hover { 
    background-color: #bf3d2a;
    transition: all .5s;
}



.bg-principal img { 
    max-width: 100%;
}
/* INFORMAÇÕES PRINCIPAIS */

.products {
    width: 90%;
}

.products h1 {
    margin: 2rem 0rem;
    text-align: center;
    font-size: 2.5rem; 
    color: black;
    font-family: "Oswald", sans-serif;

}
.cards-inf { 
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    margin: auto;
    
}
.cards { 
    width: 350px;
    height: 170px;
    background-color: white;
    margin: 1rem;
    display: flex;
}
.card-img { 
    max-width: 40%;
}
.card-img img { 
    width: 180px;
    margin: 0rem -2rem;
}
.inf-card { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.inf-card i { 
    color: green;
    font-size: 1rem;
}
.inf-card p { 
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
.inf-card span { 
    color: #2222228b;
}
.inf-add { 
    width: 100px;
}
.inf-add i { 
    color: white;
    background-color: #bf3d2a;
    border-radius: 50%;
    font-size: 1rem;
    padding: .6rem;
    margin: 7.5rem 1rem;
    cursor: pointer;
}

.inf-add i:hover { 
    background-color: #531a11;
    transition: all .5s;

}
.cards .precoProduto { 
    font-size: 1.2rem;
    font-weight: bold;
}


@media screen and (max-width: 1100px) { 
    .cards-inf { 
        grid-template-columns: 2fr 2fr 2fr  ;
        
    }
    .cards { 
        width: 300px;
    }

} /*
media query extra-large
*/

@media screen and (max-width: 900px) { 
    .cards-inf { 
        grid-template-columns: 2fr 2fr   ;
        
    }
    .cards { 
        width: 350px;
    }
}
/*
media query small-large
*/

@media screen and (max-width: 768px) { 
    .cards-inf { 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;          
    }
    .cards { 
        width: 400px;
    }
    .inf-add i { 
        
    }
    .inf-card p { 
        font-size: 1.2rem;
    }
    .cards .price { 
        font-size: 1.3rem;
        font-weight: bold;
    }
}
/*
media query small
*/

@media screen and (max-width: 480px) { 

}
/*
media query low-large
*/